Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

### My first notebook

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

This notebook will demonstrate the basic capabilities of the notebook

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Data science languages:
- Python
- R
- SQL
- Java
- C++
- Julia
- JavaScript
- PHP
- Go
- Ruby
- Visual Basic

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Data science libraries:
- pandas
- numpy
- matplotlib
- sklearn
- pytorch
- tensorflow
- seaborn

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

| Category | Tool |
|:---|:---|
| **Data Management** | MySQL |
| **Data Management** | PostgreSQL |
| **Data Management** | MongoDB |
| **Data Management** | Apache CouchDB |
| **Data Management** | Apache Cassandra |
| **Data Management** | Hadoop File System |
| **Data Management** | Ceph |
| **Data Management** | elastic search |
| **Data Integration and Transformation** | Apache AirFlow |
| **Data Integration and Transformation** | KubeFlow |
| **Data Integration and Transformation** | Apache Kafka |
| **Data Integration and Transformation** | Apache Nifi |
| **Data Integration and Transformation** | Apache SparkSQL |
| **Data Integration and Transformation** | NodeRED |
| **Data Visualization** | Pixie Dust |
| **Data Visualization** | Hue |
| **Data Visualization** | Kibana |
| **Data Visualization** | Apache Superset |
| **Model Deployment** | Apache PredictionIO |
| **Model Deployment** | Seldon |
| **Model Deployment** | Kubernetes |
| **Model Deployment** | Redhat OpenShift |
| **Model Deployment** | Mleap |
| **Model Deployment** | TensorFlow service |
| **Model Deployment** | TensorFlow lite |
| **Model Deployment** | TensorFlow dot JS |
| **Model Monitoring** | ModelDB |
| **Model Monitoring** | Prometheus |
| **Model Monitoring** | IBM AI Fairness 360 |
| **Model Monitoring** | IBM Adversarial Robustness 360 Toolbox |
| **Model Monitoring** | IBM AI Explainability 360 |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

example 1 = 2+5 , example 2 = 19-6 , example 3 = 100*2 ,

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [36]:
21*31 + 3

654

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [42]:
90/60

1.5

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

## ðŸŽ¯ Objectives

The main objectives of this exercise are:

* To demonstrate proficiency in using **Markdown cells** in Jupyter Notebook.
* To list the key **goals** or outcomes expected from completing the current Exercise.
* To practice basic Markdown formatting, such as **headings** and **bullet points**.